.summary{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcome{
    border: 2px black solid;
    border-radius: 10px;
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .cards{
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .card{
      border: 2px black solid;
      width: 280px;
      height: 180px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

}
